yolov5-env2/
yolov5-env/
.mypycache__/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
dist/
build/
.mypy_cache/3.14/numpy/
.mypy_cache/
.mypy_cache/3.14/
yolov5/runs/
.mypy_cache/3.14/importlib/
